<html>
<head>
<title>Exercice</title>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
</head>
<body>
<h2>Timer</h2>
<div ng-app="monapp" ng-controller="monController">
    Nom: <input type="text" ng-model="personne.nom" name="nom"/> </br>
    Prenom: <input type="text" ng-model="personne.prenom" name="prenom"/> </br>
    Age: <input type="text" ng-model="personne.age" name="age"/> </br>


</br>
{{personne.prenom}}


</div>
<script>
    var monapp = angular.module("monapp", []);
    monapp.controller("monController", function($scope) {

        $scope.personne= {
            nom : "TOTO",
            prenom : "toto",
            age: 10,

        }

    });
</script>

</body>
</html>